NLVHSR_0928/TM_udvar.dtd

<!ELEMENT udvar (gazda,kutya,kakas,tyuk+,diszno)>
<!ELEMENT gazda EMPTY>
<!ATTLIST gazda nev CDATA #REQUIRED>
<!ELEMENT kutya (#PCDATA)>
<!ATTLIST kutya nev CDATA #REQUIRED>
<!ELEMENT kakas EMPTY>
<!ATTLIST kakas id ID #REQUIRED>
<!ELEMENT tyuk EMPTY>
<!ATTLIST tyuk ferj CDATA #REQUIRED>
<!ELEMENT diszno (#PCDATA)>
<!ATTLIST diszno nev CDATA #REQUIRED>